<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 3</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <style>
        p {
            font-size: 18px;
        }

        .list-with-pics li {
            font-size: larger;
            margin-bottom: 10px;
            border-bottom: 1px solid gray;
        }

        h5 {
            color: green;
            font-size: 32px;
        }

        img {
            width: 450px;
            height: 350px;
        }
    </style>

</head>
<body style="background-color: powderblue;">

    <div class="container">
        <div class="jumbotron">
            <h1 style="letter-spacing: 0.3ch" class="display-4">
                Project 3: Perspective
            </h1>
            <br>
            <div style="text-align: end;">
                By: Alex Woo and Jacob Janowski
            </div>
            </p>
            <hr class="my-4" />
        </div>
    </div>
    
<div class="container">

    <div class="alert alert-success" role="alert">
        Successfully implemented all requirements.

    </div>

    <div class="alert alert-info" role="alert">
        Link to full project available on Github <a target="_blank"
            href="https://github.com/jacjanowski/Perspective">here.</a>
    </div>

    <div class="alert alert-secondary" role="alert">
        Link to 500 word essay about <span style="font-style: italic;">  perspective on our scene from Project 2 changes when you see it and interact with it in these different ways </span> found <a target="_blank"
            href="https://docs.google.com/document/d/1N9TnOo2ZA-M0pQyJBK8oVvK8h2mNAUfY1lgdVKU9A3k/edit?usp=sharing">here.</a>
    </div>
    <h1>Introduction</h1>
    <p>The foucs of this project was to presenet an extension to what project 2 consisted of. That extension focuses on perspective and how different ways of seeing something is beneficial to us as developes.
    There are 3 different versions that will be presented in this project: Mego Playset, Land of the Giants, and Dancing on the Ceiling. Each of these scenes will have different implementations that will
    serve in their owns ways. The Mego Playset will focus on creating a miniture version of the original building from project 2, and have it to where the user can place dolls inside of them and interact with it. The Land of the Giants scene will focus on
    scaling the user down to 1ft. in height, viewing the room in a much different scale. The user will be able to interact with items that match the user's realistic ability
    to grab something of its size. The ability to climb up tables is also achievable. The last scene being Dacing on the Ceiling focuses on being able to rotate the building 
    to be turned a certain way and allowing the user to walk on all sides of the building. The concept of gravity will also be taken into consideration and will affect how the models are placed within the perimeter of the structure.</p>

    <p>
    <h4>Dancing on the Ceiling</h4>
        
This scene allows for the user to be able to rotate themselves into whichever direction they choose. For example, by clicking on one of the buttons that is displayed within the scene, the user will be able to 'walk' on the wall or ceiling depending on which way they choose. All models that are in the scene will be affected by gravity, meaning if you place yourself upside down, all models will fall to the ground.

 <h4>Land of the Giants</h4>
The main focus of this scene was to incorporate 20 new models and have half of them be interactable to the user, which in this scene is 1 foot tall in height. Everything appears to be very large in the user's eyes. With this, there are small things respective to the user's height that allows certain things to be interactable. They are able to walk up and down the tables that have these objects, and are able to do everything else normally in this scene.

 <h4>Mego Playset</h4>
Starting off outside the building, the user will take the original building with all the models in it from project 2 and minimize it to a doll house size. All the models within the building are also shruken. There are 4 dolls with animations next to the playhouse which allows the user to be able to pick them up and place them within the building. The user can take off the roof of the playhouse and place them inside. Moreover, there is a flashlight that will allow a user to turn it on and off and point it within the playhouse for better examination.</p>
    
    <h4>How to Use</h4>
    <p>After installing Unity, it is a simple to run the game with the play button. One will originally be spawned within the Mego Playset area, where a menu will be displayed with various buttons determining the different scenes. The first step is to go to the Github page and follow the direction listed on there. What it says is this: Be sure to run 'git clone' and paste in the link from Github. (Example: <span style="font-weight: 700;">git clone https://github.com/jacjanowski/Perspective.git) </span> Be sure to use this command in an empty directory. Once the project has finished uploading in your directory, you may open up Unity Hub and select this directory location in order to open up the project within Unity. Users will be
    able to point their controller at one of the buttons and select which scene they would like to enter. The menu will be provided on every scene. When working inside of the Dancing
    on the Ceiling scene, there will be an additional set of buttons which act as a controller. 4 buttons (up, left, down, right) will allow the user to be able to change their orientation of how they
    perceive the world they are within. Being inside the Land of the Giants scene will be normal as usual.</p>
<h4>Video of the Project</h4>
<iframe style="margin: 40px 0px 40px 0px;" width="1000" height="500"
src="https://www.youtube.com/embed/YlYRp3dtrvI"></iframe>

<hr>
    <h5>16 Models imported from the internet</h5>
    <ol class="list-with-pics">
        <li><a href="https://www.turbosquid.com/3d-models/free-obj-model-eraser/667123">Eraser</a> <img src="../p3imgs/eraser.PNG" alt=""> </li>
        <li><a href="https://www.turbosquid.com/3d-models/free-12-scale-ruler-3d-model/547073">Meter Stick</a><img src="../p3imgs/ruler.PNG" alt=""></li>
        <li><a href="https://www.turbosquid.com/3d-models/free-3ds-mode-paperclip-office/1037366">Paper Clip</a><img src="../p3imgs/paperclip.PNG" alt=""></li>
        <li><a href="https://www.turbosquid.com/3d-models/barbell-max-free/714414">Barbells</a><img src="../p3imgs/dumbbells.PNG" alt=""></li>
        <li><a href="https://www.cgtrader.com/free-3d-models/sports/equipment/trainers-blue-grey-3d-model">Shoes</a><img src="../p3imgs/shoes.PNG" alt=""></li>
        <li><a href="https://www.cgtrader.com/free-3d-models/plant/pot-plant/tropics-flowers-set-1">Plant</a> <img src="../p3imgs/plant.PNG" alt=""> </li>
        <li><a href="https://free3d.com/3d-model/frame-glasses-314946.html">Glasses Eyewear</a> <img src="../p3imgs/glasses.PNG" alt=""></li>
        <li><a href="https://www.turbosquid.com/3d-models/3d-wallet-ready-engine-1298581">Wallet</a> <img src="../p3imgs/wallet.PNG" alt=""></li>
        <li><a href="https://www.turbosquid.com/3d-models/cap-beret-hat-max-free/1118174">Beanie Cap</a> <img src="../p3imgs/beanie.PNG" alt=""></li>
        <li><a href="https://www.turbosquid.com/3d-models/3d-stapler-1532365">Stapler</a> <img src="../p3imgs/stapler.PNG" alt=""></li>
        <li><a href="https://www.turbosquid.com/3d-models/3d-board-skate-skateboard-1209971">Skateboard</a> <img src="../p3imgs/skateboard.PNG" alt=""></li>
        <li><a href="https://sketchfab.com/3d-models/mousetrap-11d8cc060bf041f0b1324592ef6879c5">Mouse Trap</a> <img src="../p3imgs/mousetrap.PNG" alt=""></li>
        <li><a href="https://www.cgtrader.com/free-3d-models/electronics/phone/new-and-revised-iphone-11-pro-max">iPhone</a> <img src="../p3imgs/iphone.PNG" alt=""></li>
        <li><a href="https://www.turbosquid.com/3d-models/3d-model-ipod-earphone/410285">Headphones</a> <img src="../p3imgs/headphones.PNG" alt=""></li>
        <li><a href="https://www.turbosquid.com/3d-models/3d-product-water-bottle-1220041">Water Bottle</a> <img src="../p3imgs/water.PNG" alt=""></li>
        <li><a href="https://www.turbosquid.com/3d-models/3d-woodenstairs2-model-1741838">Ladder</a> <img src="../p3imgs/ladder.PNG" alt=""></li>
        <li><a href="https://www.cgtrader.com/free-3d-models/furniture/table/leilani-tulip-dining-table">Round Coffee Table</a> <img src="../p3imgs/table.PNG" alt=""></li>

    </ol>

    <h5>5 Models created using Blender</h5>
    <ol class="list-with-pics">
        <li>Pokemon Ball <img src="../p3imgs/pokemon.PNG" alt=""></li>
        <li>Donut <img src="../p3imgs/donut.PNG" alt=""></li>
        <li>Coffee <img src="../p3imgs/coffee.PNG" alt=""></li>
        <li>Speakers <img src="../p3imgs/speakers.PNG" alt=""></li>
        <li>Gameboy <img src="../p3imgs/gameboy.PNG" alt=""></li>
    </ol>

    <h5>10 Models that are grabable</h5>
    <ol class="list-with-pics">
        <li>Pokemon Ball</li>
        <li>Gameboy</li>
        <li>Wallet</li>
        <li>Water Bottle</li>
        <li>Paper Clip</li>
        <li>iPhone</li>
        <li>Glasses</li>
        <li>Eraser</li>
        <li>Headphones</li>
        <li>Shoe</li>
    </ol>

    <h5>5 Dolls with animations</h5>
    <ol class="list-with-pics">
        <li><a href="https://free3d.com/3d-model/pikachu-medium-poly-909714.html">Pikachu - Idle animation</a> <img src="../p3imgs/doll4.PNG" alt=""> </li>
        <li><a href="https://free3d.com/3d-model/personnage-903189.html">Figurine - Flossing animation</a> <img src="../p3imgs/doll3.PNG" alt=""> </li>
        <li><a href="https://sketchfab.com/3d-models/halo-ce-master-chief-remastered-06973539ac3547ed8e596d03f0276846">Halo action figure - various animations</a> <img src="../p3imgs/doll2.PNG" alt=""> </li>
        <li><a href="https://www.cgtrader.com/free-3d-models/character/other/spiderman-scene">Spiderman - jump animation</a> <img src="../p3imgs/doll5.PNG" alt=""> </li>

    </ol>


    <div style="text-align: center;">

    
        <h2 style="color: orchid; letter-spacing: 0.3ch">Dancing on the Ceiling</h2>
        <div style="margin: 40px 0px;" class="row">
            <div class="col">
                <img style="width: 1000px; height: auto;" src="../p3imgs/dancing.gif" alt="">
                <p style="font-size: 22px;">The controller system allows users to be able to switch the orientation and adjust the rotation depending on which way the user would like to be positioned. If the user were to change themselve to be upside down, gravity will be in affect and various items will be caused to fall to the ground. All items remain interactable as the original project 2 had it originally as well as the functionality for the rest of the models.</p>
            </div>

            <div class="row">
                <div class="col">
                    <img style="width: auto; height: 250px;" src="../p3imgs/dancingonceilings.PNG" alt="">
                    <p>Example of menu with controller that's used for rotation.</p>
                </div>

                <div class="col">
                    <img style="width: auto; height: 250px;" src="../p3imgs/dancingonceilings2.PNG" alt="">
                    <p>Example of the user positioned 90 degress to the right. Shows how the different models were affected.</p>
                </div>
                <div class="col">
                    <img style="width: auto; height: 250px;" src="../p3imgs/dancingonceilings3.PNG" alt="">
                    <p>Another angle being applied to the scene with the changes of gravity taken into consideration.</p>
                </div>
            </div>
        </div>
        <hr>
        <h2 style="color: orchid; letter-spacing: 0.3ch ">Land of the Giants</h2>
        <div style="margin-bottom: 20px;" class="row">
            <div class="col">
                <img style="width: 1000px; height: auto;" src="../p3imgs/giants.gif" alt="">
                <p style="font-size: 22px;">Land of the Giants focuses on yourself being shrunken down to a 1 foot height size. With the 20 additional models implemented to match the size of the user, half of these items will be interactable. The user has several ways to get up on top of the tables with the items. Shown here is a visualization to show which items are grabable as well as the scale of the person being taken into affect. Other items from project 2 remain implemented and functionality remains constant.</p>
            </div>


            <div class="row">
                <div class="col">
                    <img style="width: auto; height: 250px;" src="../p3imgs/giants2.PNG" alt="">
                    <p>Example of ways to get up on top of a table in order to be able to interact with certain models that are scaled to your size.</p>
                </div>

                <div class="col">
                    <img style="width: auto; height: 250px;" src="../p3imgs/gaints1.PNG" alt="">
                    <p>Overall view of the original scene but now you are down to 1 foot in height. Notice the look of how big these models appear.</p>
                </div>
                <div class="col">
                    <img style="width: auto; height: 250px;" src="../p3imgs/giants3.PNG" alt="">
                    <p>Outlook from on top of one of the tables with the interactable objects.Helps to depict the size of yourself with respect to the items next to you. Notice not all objects are interactable, only those that fit your size.</p>
                </div>
            </div>

        </div>
        <hr>
        <h2 style="color: orchid; letter-spacing: 0.3ch">Mego Playset</h2>
        <div style="margin-bottom: 20px;" class="row">
            <div class="col">
                <img style="width: 1000px; height: auto;" src="../p3imgs/mego.gif" alt="">
                <p style="font-size: 22px;">Mego Playset takes the 4 dolls that were imported and has their respective animations in a loop, allowing the user to be able to play with these figures and put them into the orignial building. The building and all the models within it were shrunken down to a miniture size, allowing the user to shine a light within the building to see where they wish you place their action figures. Animations remain in a loop with constant movement being applied. All items within the building remain interactable as it was in project 2.</p>
            </div>

            <div class="row">

                <div class="col">
                    <img style="width: auto; height: 250px;" src="../p3imgs/megoplayset.PNG " alt="">
                    <p>Overall view of how the menu system looks as well as the display of the playhouse. Notice the size of the building and the animated dolls next to them.</p>
                </div>
                <div class="col">
                    <img style="width: auto; height: 250px;" src="../p3imgs/megoplayset2.PNG" alt="">
                    <p>4 animated dolls are placed next to the playhouse and are able to be grabbed and placed within the playhouse while still moving with their specific animation.</p>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
