<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 3</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <style>
        p {
            font-size: 18px;
        }

        .list-with-pics li {
            font-size: larger;
            margin-bottom: 10px;
            border-bottom: 1px solid gray;
        }

        h5 {
            color: green;
            font-size: 32px;
        }

        img {
            width: 450px;
            height: 350px;
        }
    </style>

</head>
<body style="background-color: powderblue;">

    <div class="container">
        <div class="jumbotron">
            <h1 style="letter-spacing: 0.3ch" class="display-4">
                Project 3: Perspective
            </h1>
            <br>
            <div style="text-align: end;">
                By: Alex Woo and Jacob Janowski
            </div>
            </p>
            <hr class="my-4" />
        </div>
    </div>
    
<div class="container">

    <div class="alert alert-success" role="alert">
        Successfully implemented all requirements.

    </div>

    <div class="alert alert-info" role="alert">
        Link to full project available on Github <a target="_blank"
            href="https://github.com/awoo8/CS_428_Project2">here.</a>
    </div>

    <div class="alert alert-secondary" role="alert">
        Link to 500 word essay about <span style="font-style: italic;">  perspective on our scene from Project 2 changes when you see it and interact with it in these different ways </span> found <a target="_blank"
            href="https://docs.google.com/document/d/1N9TnOo2ZA-M0pQyJBK8oVvK8h2mNAUfY1lgdVKU9A3k/edit?usp=sharing">here.</a>
    </div>
    <h1>Introduction</h1>


    

    <h5>16 Models imported from the internet</h5>
    <ol class="list-with-pics">
        <li><a href="">Eraser</a> <img src="../p3imgs/eraser.PNG" alt=""> </li>
        <li><a href="">Meter Stick</a><img src="../p3imgs/ruler.PNG" alt=""></li>
        <li><a href="">Paper Clip</a><img src="../p3imgs/paperclip.PNG" alt=""></li>
        <li><a href="">Barbells</a><img src="../p3imgs/dumbbells.PNG" alt=""></li>
        <li><a href="">Shoes</a><img src="../p3imgs/shoes.PNG" alt=""></li>
        <li><a href="">Plant</a> <img src="../p3imgs/plant.PNG" alt=""> </li>
        <li><a href="">Glasses Eyewear</a> <img src="../p3imgs/glasses.PNG" alt=""></li>
        <li><a href="">Wallet</a> <img src="../p3imgs/wallet.PNG" alt=""></li>
        <li><a href="">Beanie Cap</a> <img src="../p3imgs/beanie.PNG" alt=""></li>
        <li><a href="">Stapler</a> <img src="../p3imgs/stapler.PNG" alt=""></li>
        <li><a href="">Skateboard</a> <img src="../p3imgs/skateboard.PNG" alt=""></li>
        <li><a href="">Mouse Trap</a> <img src="../p3imgs/mousetrap.PNG" alt=""></li>
        <li><a href="">iPhone</a> <img src="../p3imgs/iphone.PNG" alt=""></li>
        <li><a href="">Headphones</a> <img src="../p3imgs/headphones.PNG" alt=""></li>
        <li><a href="">Water Bottle</a> <img src="../p3imgs/water.PNG" alt=""></li>
        <li><a href="">Ladder</a> <img src="../p3imgs/ladder.PNG" alt=""></li>
        <li><a href="">Round Coffee Table</a> <img src="../p3imgs/table.PNG" alt=""></li>

    </ol>

    <h5>5 Models created using Blender</h5>
    <ol class="list-with-pics">
        <li><a href="">Pokemon Ball</a> <img src="../p3imgs/pokemon.PNG" alt=""></li>
        <li><a href="">Donut</a> <img src="../p3imgs/donut.PNG" alt=""></li>
        <li><a href="">Coffee</a> <img src="../p3imgs/coffee.PNG" alt=""></li>
        <li><a href="">Speakers</a> <img src="../p3imgs/speakers.PNG" alt=""></li>
        <li><a href="">Gameboy</a> <img src="../p3imgs/gameboy.PNG" alt=""></li>
    </ol>

    <h5>10 Models that are grabable</h5>
    <ol class="list-with-pics">
        <li>Pokemon Ball</li>
        <li>Gameboy</li>
        <li>Wallet</li>
        <li>Water Bottle</li>
        <li>Paper Clip</li>
        <li>iPhone</li>
        <li>Glasses</li>
        <li>Coffee/Donut</li>
        <li>Headphones</li>
        <li>Beanie</li>
    </ol>

    <h5>5 Dolls with animations</h5>
    <ol class="list-with-pics">
        <li><a href="">Pikachu - Idle animation</a> <img src="../p3imgs/doll4.PNG" alt=""> </li>
        <li><a href="">Figurine - Flossing animation</a> <img src="../p3imgs/doll3.PNG" alt=""> </li>
        <li><a href="">Halo action figure - various animations</a> <img src="../p3imgs/doll2.PNG" alt=""> </li>
        <li><a href="">Soldier with gun - walking animation</a> <img src="../p3imgs/doll1.PNG" alt=""> </li>
        <li><a href="">Spiderman - jump animation</a> <img src="../p3imgs/doll5.PNG" alt=""> </li>

    </ol>
</div>

</body>
</html>