<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 3</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <style>
        p {
            font-size: 18px;
        }

        .list-with-pics li {
            font-size: larger;
            margin-bottom: 10px;
            border-bottom: 1px solid gray;
        }

        h5 {
            color: green;
            font-size: 32px;
        }

        img {
            width: 350px;
            height: 250px;
        }
    </style>

</head>
<body style="background-color: powderblue;">

    <div class="container">
        <div class="jumbotron">
            <h1 style="letter-spacing: 0.3ch" class="display-4">
                Project 3: Perspective
            </h1>
            <br>
            <div style="text-align: end;">
                By: Alex Woo and Jacob Janowski
            </div>
            </p>
            <hr class="my-4" />
        </div>
    </div>
    
<div class="container">

    <div class="alert alert-success" role="alert">
        Successfully implemented all requirements.

    </div>

    <div class="alert alert-info" role="alert">
        Link to full project available on Github <a target="_blank"
            href="https://github.com/awoo8/CS_428_Project2">here.</a>
    </div>

    <div class="alert alert-secondary" role="alert">
        Link to 500 word essay about <span style="font-style: italic;">  perspective on our scene from Project 2 changes when you see it and interact with it in these different ways </span> found <a target="_blank"
            href="https://docs.google.com/document/d/1N9TnOo2ZA-M0pQyJBK8oVvK8h2mNAUfY1lgdVKU9A3k/edit?usp=sharing">here.</a>
    </div>
    <h1>Introduction</h1>


    

    <h5>15 Models imported from the internet</h5>
    <ol class="list-with-pics">
        <li><a href="">Eraser</a></li>
        <li><a href="">Meter Stick</a></li>
        <li><a href="">Paper Clip</a></li>
        <li><a href="">Barbells</a></li>
        <li><a href="">Shoes</a></li>
        <li><a href="">Plant</a></li>
        <li><a href="">Glasses Eyewear</a></li>
        <li><a href="">Wallet</a></li>
        <li><a href="">Beanie Cap</a></li>
        <li><a href="">Stapler</a></li>
        <li><a href="">Skateboard</a></li>
        <li><a href="">Mouse Trap</a></li>
        <li><a href="">iPhone</a></li>

    </ol>

    <h5>5 Models created using Blender</h5>
    <ol class="list-with-pics">
        <li>Pokemon Ball</li>
        <li>Gameboy</li>
        <li>Speakers</li>
    </ol>

    <h5>10 Models that are grabable</h5>
    <ol class="list-with-pics">
        <li>Pokemon Ball</li>
        <li>Gameboy</li>
        <li>Speakers</li>
        <li>Speakers</li>
        <li>Speakers</li>
        <li>Speakers</li>
        <li>Speakers</li>
        <li>Speakers</li>
        <li>Speakers</li>
        <li>Speakers</li>
    </ol>
</div>

</body>
</html>