<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <style>
        p {
            font-size: 18px;
        }

        div>li {
            font-size: x-large;
        }

        h5 {
            color: green;
        }

        img {
            width: 150px;
            height: 150px;
        }
    </style>

</head>

<body style="background-color: rgb(161, 189, 240);">
    <div style="text-align: center;" class="container">

        <h1>
            Project 2: (Don't Fear) The Reaper</h1>
        <div class="alert alert-info" role="alert">
            Link to full project available on Github <a target="_blank"
                href="https://github.com/jacjanowski/428-project1">here.</a>
        </div>

        <div class="alert alert-secondary" role="alert">
            Link to 500 word essay about <span style="font-style: italic;"> how viewing and interacting with your world
                is different in the simulator and the headset </span> found <a target="_blank"
                href="https://docs.google.com/document/d/1Inv3xeljqP8cXId5c_mwmBM1sLQyHV8r04wGOoIePqw/edit?usp=sharing">here.</a>
        </div>

        <h3>Introduction</h3>
        <p>
            This project focuses on having those face their fears by allowing them to put on the Oculus Quest headset
            and be within the environment that they created. The main purpose of this is so that students are able to
            create a room filled with their phobias in order to become more apt in situations when it comes to reality.
            In our case, we have two main phobias: heights and claustraphobia.
        </p>
        <br>
        <br>
        <h3>How to use</h3>

        <p>

            When ready to run program, click the "Play" button
            at the top. Make sure to have a webcam connected. When running, simply point the webcam at one or both of
            the
            paper cubes. Or if you are running this through the app, launch the app and point the camera view at the
            cubes.
            You will see your models come to life!
        </p>
        <br>
        <br>

        <iframe style="margin: 20px 0px 20px 0px;" width="1000" height="500"
            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>

        <div class="row">

            <div class="col">


                <div style="text-align: start;">

                    <h4 style="text-decoration: underline; color: blue;">Requirements for Alex Woo</h4>
                    <li>
                        60% of project
                    </li>
                    <h5>15 models from the web</h5>
                    <ol>
                        <li>Turtle - <img src="../images/cactus.PNG" alt=""> </li>
                        <li>Dolphin - </li>
                        <li>Beach chair - </li>
                        <li>Turtle - </li>
                        <li>Dolphin - </li>
                        <li>Beach chair - </li>
                        <li>Turtle - </li>
                        <li>Dolphin - </li>
                        <li>Beach chair - </li>
                        <li>Turtle - </li>
                        <li>Dolphin - </li>
                        <li>Beach chair - </li>
                        <li>Turtle - </li>
                        <li>Dolphin - </li>
                        <li>Beach chair - </li>

                    </ol>
                    <h5>5 created models from Blender</h5>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>5 models with physics/colliders</h5>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>4 different lightings</h5>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>1 relevant ambient sound</h5>
                    <ol>
                        <li></li>
                    </ol>
                    <hr>
                    <li>40% of project</li>
                    <h5>2 interactable objects that produce something</h5>
                    <ol>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>2 animated and moving models</h5>
                    <ol>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>5 models that are grabable, tossable</h5>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>4 models that have noise when get close/interact with</h5>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                </div>
            </div>


        </div>
        <hr>
        <div class="row">
            <div class="col">

                <div style="text-align: start;">

                    <h3 style="text-decoration: underline; color: blue;">Requirements for Jacob Janowski</h3>
                    <li>
                        60% of project
                    </li>
                    <h5>15 models from the web</h5>
                    <ol>
                        <li>Turtle - </li>
                        <li>Dolphin - </li>
                        <li>Beach chair - </li>
                        <li>Turtle - </li>
                        <li>Dolphin - </li>
                        <li>Beach chair - </li>
                        <li>Turtle - </li>
                        <li>Dolphin - </li>
                        <li>Beach chair - </li>
                        <li>Turtle - </li>
                        <li>Dolphin - </li>
                        <li>Beach chair - </li>
                        <li>Turtle - </li>
                        <li>Dolphin - </li>
                        <li>Beach chair - </li>

                    </ol>
                    <h5>5 created models from Blender</h5>
                    <ol>
                        <li>Surf board</li>
                        <li>Coconut tree with coconuts</li>
                    </ol>
                    <h5>5 models with physics/colliders</h5>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>4 different lightings</h5>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>1 relevant ambient sound</h5>
                    <ol>
                        <li></li>
                    </ol>
                    <hr>
                    <li>40% of project</li>
                    <h5>2 interactable objects that produce something</h5>
                    <ol>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>2 animated and moving models</h5>
                    <ol>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>5 models that are grabable, tossable</h5>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>4 models that have noise when get close/interact with</h5>
                    <ol>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ol>

                </div>
            </div>




            <h3>Explanation for models, music, and 8ball sayings</h3>
            <p>
                For the Classcube (Hawaii), I decided
                to make a Hawaiian themed cube. With this, I had several things to choose from in order to represent
                things from the island. Therefore, some animals like a turtle and dolphin would suffice in
                representing the animals of Hawaii. Some other things that take place on the island are activities like
                surfing! Hence, the surf board model was created. And lastly, when it comes to Hawaii, who isn't going
                to
                relax and enjoy the beach vibes? Therefore, lounge around all afternoon on a beach chair model that was
                grabbed from the web. All while resting underneath a coconut tree of course, which is my fifth model.
                All five models clearly representing what takes place there. Regarding the music, I decided to find a
                nice luau, ukulele type of sound, as this perfectly describes the music that's played there.
            </p>
            <p>
                For the Mergecube (Texas), I wanted to incorporate a southern/western theme. What Texas reminds me of
                are cowboys, country music, BBQ, and much more that I have yet to experience.
                So, I went ahead of scouted some website that had models that would help best represent Texas for what
                it is. Therefore, I found a cowboy hat to mimic the cowboys, a pecan pie to describe Texas's delicasy
                (my friend from Lubbock, Texas mentioned this, so I guess it must be true lol), and the last model from
                the web, being a horse! Horses are mostly ridden in that
                state and after watching many John Wayne movies with my father, this only made sense to add it in. As
                for the models I created, cacti are all over that state! There aren't any in Chicago (unless you get
                them from Home Depot), so this was fitting in my opinion. And the second model I created for Texas
                is a guitar, emphasizing the traditional southern folk and country genre. And because I made this model,
                I think the best fitting music to go along with this model would be some nice country music, so I added
                this .wav snippet in.
            </p>

            <p>As for the 8ball sayings, for the Classcube, we kept the classic traditional sayings there, so nothing
                was changed. As for the Mergecube, I went ahead and modernized some of the sayings that
                we hear nowadays. Some can be a sort of younger toned responses that people in my age group would say
                (that being teens - lower 20 year olds), something like "100%", signifying a assurance response, as well
                as a negatory response like "There's no way in hell".
            </p>



        </div>
    </div>
</body>

</html>