<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <style>
        p {
            font-size: 18px;
        }

        li {
            font-size: larger;
        }

        h5 {
            color: green;
        }

        img {
            width: 150px;
            height: 150px;
        }
    </style>

</head>

<body style="background-color: rgb(161, 189, 240);">
    <div style="text-align: center;" class="container">

        <h1>
            Project 2: (Don't Fear) The Reaper</h1>
        <div class="alert alert-info" role="alert">
            Link to full project available on Github <a target="_blank"
                href="https://github.com/jacjanowski/428-project1">here.</a>
        </div>

        <div class="alert alert-secondary" role="alert">
            Link to 500 word essay about <span style="font-style: italic;"> how viewing and interacting with your world
                is different in the simulator and the headset </span> found <a target="_blank"
                href="https://docs.google.com/document/d/1Inv3xeljqP8cXId5c_mwmBM1sLQyHV8r04wGOoIePqw/edit?usp=sharing">here.</a>
        </div>

        <h3>Introduction</h3>
        <p>
            This project focuses on having those face their fears by allowing them to put on the Oculus Quest headset
            and be within the environment that they created. The main purpose of this is so that students are able to
            create a room filled with their phobias in order to become more apt in situations when it comes to reality.
            In our case, we have two main phobias: heights and claustraphobia.
        </p>
        <br>
        <br>
        <h3>How to use</h3>

        <p>

            When ready to run program, click the "Play" button
            at the top. Make sure to have a webcam connected. When running, simply point the webcam at one or both of
            the
            paper cubes. Or if you are running this through the app, launch the app and point the camera view at the
            cubes.
            You will see your models come to life!
        </p>
        <br>
        <br>

        <iframe style="margin: 20px 0px 20px 0px;" width="1000" height="500"
            src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>

        <div class="row">

            <div class="col">


                <div style="text-align: start;">

                    <h3 style="text-align: center; padding-bottom: 5%;">All Requirements for project</h3>

                    <h5>30 models from the web</h5>
                    <ol>
                        <li><a href="https://www.cgtrader.com/free-3d-models/character/anatomy/blood-stain-free">Blood</a></li>
                        <li><a href="https://assetstore.unity.com/packages/3d/vehicles/land/low-poly-police-car-pack-59458">Police car</a></li>
                        <li><a href="https://www.cgtrader.com/free-3d-models/industrial/other/traffic-cone-defc1251-1e70-4744-9692-7fe7ba6b0499">Traffic cones</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/3d-chandelier-75706x-cone-lightstar-model-1307503">Chandeliers</a> </li>
                        <li><a href="https://www.turbosquid.com/3d-models/free-dining-table-3d-model/783428">Dinner Table</a></li>
                        <li><a href="https://www.cgtrader.com/free-3d-models/character/woman/humano-casual-woman-sitting-and-talking-0218">Girl at table</a></li>
                        <li><a href="https://www.cgtrader.com/free-3d-models/character/man/01business-01man">Man at stage</a></li>
                        <li><a href="https://www.cgtrader.com/free-3d-models/character/woman/chica-sexy-11">Girl at stage</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/free-curtain-3d-model/1138774">Curtains</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/free-obj-mode-piano/941702">Piano</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/3d-realistic-musicians-music-model-1653971">Cellist</a></li>
                        <li><a href="https://www.cgtrader.com/free-3d-models/food/miscellaneous/hamburger-e9ac7341-5964-4eaa-bd35-e4dfa46f87f4">Burger</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/set-cutlery-model-1687795">Silverware</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/free-cutlery-glass-wine-3d-model/1089662">Wine set</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/obj-shark/1051563">Shark</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/3d-model-designed-stairs-1272542">Staircase</a></li>
                        <li>Coffee machine - </li>
                        <li>Vending machine - </li>
                        <li><a href="https://www.turbosquid.com/3d-models/brick-wall-3d-1625362">Brick walls</a></li>
                        <li><a target="_blank" href="https://www.turbosquid.com/3d-models/3d-road-obstacle-1425792">Spikes</a> </li>
                        <li>Laptop - </li>
                        <li>Pens - </li>
                        <li><a href="https://www.cgtrader.com/free-3d-models/various/various-models/short-rope">Tightrope</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/free-basic-microphone-3d-model/725806">Microphone</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/1-meter-diving-board-max-free/799158">Diving board</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/free-magnifying-glass-3d-model/450713">Magnifying glass</a></li>
                        <li><a href="https://www.turbosquid.com/3d-models/3d-lantern-1331833">Flashlight</a></li>
                        <li><a href="https://www.cgtrader.com/free-3d-models/industrial/tool/ball-peen-hammer-pbr">Hammer</a></li>
                        <li><a href="https://www.cgtrader.com/free-3d-models/architectural/other/pool-ladder">Pool ladder</a></li>
                        <li><a href="https://www.cgtrader.com/free-3d-models/interior/office/cestino">Trash can</a></li>
                    </ol>
                    <h5>10 created models from Blender</h5>
                    <ol>
                        <li>Lightpost</li>
                        <li>Elevator</li>
                        <li>Shrink/Grow room</li>
                        <li>Button Stand</li>
                        <li>'Welcome' floor mat</li>
                        <li>Microphone stand</li>
                        <li>Pool</li>
                        <li>Spike room</li>
                        <li>Candle</li>
                        <li>Stage</li>
                        <li>Calculator</li>
                        <li>Plate</li>
                    </ol>
                    <h5>10 models that are grablable/tossable</h5>
                    <ol>
                        <li>Calculator</li>
                        <li>Candle</li>
                        <li>Microphone</li>
                        <li>Burger</li>
                        <li>Utensils</li>
                        <li>Wine Bottle</li>
                        <li>Glasses</li>
                        <li>Pens</li>
                        <li>Magnifying glass</li>
                        <li>Flashlight</li>
                        <li>Hammer</li>
                    </ol>
                    <h5>8 different lightings</h5>
                    <ol>
                        <li>Blue pool light</li>
                        <li>Red cop car light</li>
                        <li>Blue cop car light</li>
                        <li>Green, purple, blue disco chandelier lights</li>
                        <li>Dimmly lit lampost light</li>
                        <li>Orange candle flame light</li>
                        <li>Flashlight</li>
                        <li>Stage spotlight</li>

                    </ol>
                    <h5>2 relevant ambient sounds</h5>
                    <ol>
                        <li><a href="https://freesound.org/people/rastataper/sounds/62225/"> Background office sounds (first floor)</a></li>
                        <li><a href="https://pixabay.com/music/suspense-multiplication-2753/">Background mystery/crime music (Second floor)</a> </li>
                    </ol>


                    <h5>4 interactable objects that produce something</h5>
                    <ol>
                        <li>Vending machine</li>
                        <li>Food spawn</li>
                        <li></li>
                        <li></li>
                    </ol>
                    <h5>4 animated and moving models</h5>
                    <ol>
                        <li>Elevator</li>
                        <li>Shrink/Grow room</li>
                        <li>Spikes room</li>
                        <li>Shark swimming</li>
                    </ol>
                    <h5>10 models that have physics/colliders</h5>
                    <ol>
                        <li>Calculator</li>
                        <li>Candle</li>
                        <li>Microphone</li>
                        <li>Burger</li>
                        <li>Utensils</li>
                        <li>Wine Bottle</li>
                        <li>Glasses</li>
                        <li>Laptop</li>
                        <li>Pens</li>
                        <li>Magnifying glass</li>
                    </ol>
                    <h5>8 models that have noise when get close/interact with</h5>
                    <ol>
                        <li>Shrink audio on button push</li>
                        <li>Grow button on button push</li>
                        <li><a href="https://notification-sounds.com/soundsfiles/Elevator-ding-sound-effect.mp3">Elevator button on push</a> </li>
                        <li><a href="https://www.wavsource.com/snds_2020-10-01_3728627494378403/sfx/coin.wav">Vending machine on push</a> </li>
                        <li><a href="https://www.soundsnap.com/node/105926">Brick wall moving noises</a> </li>
                        <li><a href="http://files.anitalink.com/gamecache/hl/sc5/sound/mw/police1.wav">Police car siren standing nearby</a> </li>
                        <li><a href="http://blogfiles.wfmu.org/KF/2006/12/glass/Splash.MP3">Splash/swimming sounds in pool</a> </li>
                        <li><a href="https://www.zapsplat.com/music/old-rope-stress-creak-3/"> Tightrope creaking noise</a></li>
                        <li>Pen click when interacting</li>
                        <li><a href="https://www.fesliyanstudios.com/royalty-free-sound-effects-download/restaurants-179">People talking nearby dinner table</a> </li>
                        <li><a href="file:///D:/jacob/Downloads/bensound-thejazzpiano.mp3">Jazz music on stage</a> </li>
                    </ol>
                </div>
            </div>

          


        </div>





        <h3>Explanation for models, music, and 8ball sayings</h3>
        <p>
            For the Classcube (Hawaii), I decided
            to make a Hawaiian themed cube. With this, I had several things to choose from in order to represent
            things from the island. Therefore, some animals like a turtle and dolphin would suffice in
            representing the animals of Hawaii. Some other things that take place on the island are activities like
            surfing! Hence, the surf board model was created. And lastly, when it comes to Hawaii, who isn't going
            to
            relax and enjoy the beach vibes? Therefore, lounge around all afternoon on a beach chair model that was
            grabbed from the web. All while resting underneath a coconut tree of course, which is my fifth model.
            All five models clearly representing what takes place there. Regarding the music, I decided to find a
            nice luau, ukulele type of sound, as this perfectly describes the music that's played there.
        </p>
        <p>
            For the Mergecube (Texas), I wanted to incorporate a southern/western theme. What Texas reminds me of
            are cowboys, country music, BBQ, and much more that I have yet to experience.
            So, I went ahead of scouted some website that had models that would help best represent Texas for what
            it is. Therefore, I found a cowboy hat to mimic the cowboys, a pecan pie to describe Texas's delicasy
            (my friend from Lubbock, Texas mentioned this, so I guess it must be true lol), and the last model from
            the web, being a horse! Horses are mostly ridden in that
            state and after watching many John Wayne movies with my father, this only made sense to add it in. As
            for the models I created, cacti are all over that state! There aren't any in Chicago (unless you get
            them from Home Depot), so this was fitting in my opinion. And the second model I created for Texas
            is a guitar, emphasizing the traditional southern folk and country genre. And because I made this model,
            I think the best fitting music to go along with this model would be some nice country music, so I added
            this .wav snippet in.
        </p>

        <p>As for the 8ball sayings, for the Classcube, we kept the classic traditional sayings there, so nothing
            was changed. As for the Mergecube, I went ahead and modernized some of the sayings that
            we hear nowadays. Some can be a sort of younger toned responses that people in my age group would say
            (that being teens - lower 20 year olds), something like "100%", signifying a assurance response, as well
            as a negatory response like "There's no way in hell".
        </p>



    </div>
    </div>
</body>

</html>